body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.navbar a {
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}
